@font-face {
    font-family: "Main-Font";
    font-weight: 300;
    src: url('../src/font/NotoSansCJKkr-Regular.otf');
}

* {
    font-family: Main-Font;
}

body {
    margin: 0;
    min-width: 1280px;
    cursor: default;
}

input {
    outline: none;
}

button {
    outline: none;
}

textarea {
    outline: none;
}

a {
    text-decoration: none;
}